version: 2.1

orbs:
  node: circleci/node@5.1.0
  browser-tools: circleci/browser-tools@1.5.3    # fixing circle CI issue: https://github.com/cypress-io/circleci-orb/issues/446

jobs:
  test:
    parameters:
      version: 
        default: "current"
        description: Node.JS version to install
        type: string
    docker:
      - image: cimg/node:<<parameters.version>>-browsers
    resource_class: large
    steps:
      - checkout
      - browser-tools/install-browser-tools:
          install-geckodriver: false
      - run:
          command: |
            google-chrome --version
            firefox --version
          name: Check install
      - node/install-packages:
          override-ci-command: yarn install
      - run: yarn run lint:ci
      - run: yarn run test:unit
      - run: yarn run test:e2e --headless
      - run:
          name: "Test whether build is successful"
          command: yarn build


  deploy:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - node/install-packages:
          override-ci-command: yarn install
      - run: npx semantic-release
      
workflows:
  test:
    jobs:
      - test:
          matrix:
            parameters:
              version:
                - "current"
                - "lts" 

      - deploy:
          requires:
            - test
            
